.navigation {
  width: 100%;
  position: fixed;
  z-index: 50;
}
.navigation .container {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.navigation .container .header__top-box {
  padding: 20px 15px;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navigation .container .header__top-box .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation .container .header__top-box .nav-title {
  height: 100%;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation .container .header__top-box .nav-title .burger {
  padding: 3px 0 3px 0;
  position: relative;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navigation .container .header__top-box .nav-title .burger .burger__center-line {
  display: inline-block;
  width: 30px;
  height: 3px;
  background: #fff;
}
.navigation .container .header__top-box .nav-title .burger ::before {
  content: "";
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navigation .container .header__top-box .nav-title .burger ::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
  bottom: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navigation .container .header__top-box .nav-title .x-burger {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navigation .container .header__top-box .nav-title .x-burger .burger__center-line {
  background: rgba(0, 0, 0, 0);
}
.navigation .container .header__top-box .nav-title .x-burger ::before {
  content: "";
  width: 100%;
  height: 3px;
  background: rgb(255, 255, 255);
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 13px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navigation .container .header__top-box .nav-title .x-burger ::after {
  content: "";
  width: 100%;
  height: 3px;
  bottom: 14px;
  background: rgb(255, 255, 255);
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navigation .container .nav-menu {
  display: none;
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.navigation .container .nav-menu .nav-menu__box-shadow {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.navigation .container .nav-menu .nav-menu__box-shadow .nav-menu__link {
  width: 100%;
  padding: 25px 0;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.scrolled {
  background: rgb(37, 43, 73);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (min-width: 769px) {
  .navigation {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 50;
  }
  .navigation .container {
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navigation .container .header__top-box {
    padding: 20px 15px;
    width: 30%;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navigation .container .header__top-box .logo {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation .container .header__top-box .nav-title {
    display: none;
  }
  .navigation .container .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 0;
    width: 70%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    background: none;
  }
  .navigation .container .nav-menu .nav-menu__box-shadow {
    width: 100%;
    height: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    background: none;
  }
  .navigation .container .nav-menu .nav-menu__box-shadow .nav-menu__link {
    width: 100%;
    padding: calc(25px + 0.5vw) 0;
    font-family: "Raleway";
    font-weight: 700;
    font-size: calc(13px + 0.5vw);
    line-height: calc(15px + 0.5833333333vw);
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .navigation .container .nav-menu .nav-menu__box-shadow .nav-menu__link:hover {
    border-bottom: calc(2px + 0.0833333333vw) solid #F4BF87;
    color: #F4BF87;
    text-shadow: 0px calc(4px + 0.0833333333vw) calc(4px + 0.0833333333vw) rgba(0, 0, 0, 0.25);
  }
  .navigation .container .nav-menu .nav-menu__box-shadow .nav-menu__link:active {
    border-bottom: none;
    color: #FFFFFF;
    text-shadow: 0px calc(4px + 0.0833333333vw) calc(4px + 0.0833333333vw) rgba(0, 0, 0, 0.25);
  }
}
@media (min-width: 1920px) {
  .header .container {
    max-width: 62.5%;
  }
}