.review-two {
  background-color: #f8f8f8;
}
.review-two .container {
  padding: calc(15px + 0.0833333333vw);
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}
.review-two .container .slick-prev {
  z-index: 1;
  display: block;
  width: 21px;
  height: 21px;
  font-size: 0;
  border-top: 2px solid #c6cbcd;
  border-left: 2px solid #c6cbcd;
  position: absolute;
  top: 50%;
  background: #f8f8f8;
  -webkit-transform: translate(0, -50%) rotate(-45deg);
          transform: translate(0, -50%) rotate(-45deg);
}
.review-two .container .slick-next {
  z-index: 1;
  left: calc(100% - 35px);
  display: block;
  width: 21px;
  height: 21px;
  font-size: 0;
  border-bottom: 2px solid #c6cbcd;
  border-right: 2px solid #c6cbcd;
  position: absolute;
  top: 50%;
  background: #f8f8f8;
  -webkit-transform: translate(0, -50%) rotate(-45deg);
          transform: translate(0, -50%) rotate(-45deg);
}
.review-two .container .review__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
}
.review-two .container .review__slider .slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 60px;
}
.review-two .container .review__slider .slider__item .slider__box-image {
  border: 1px solid #95e1d3;
  padding: calc(30px + 1.25vw);
}
.review-two .container .review__slider .slider__item .slider__box-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.review-two .container .review__slider .slider__item .slider__information {
  padding: calc(9px + 0.0833333333vw) calc(27px + 0.25vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.review-two .container .review__slider .slider__item .slider__information .information__text {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 500;
  font-size: calc(14px + 0.8333333333vw);
  line-height: calc(16px + 1vw);
  color: #a9afb1;
}
.review-two .container .review__slider .slider__item .slider__information .information__name {
  display: inline-block;
  font-family: "Kaushan Script";
  font-size: 18px;
  line-height: 26px;
  text-transform: capitalize;
  padding: 0 0 0 calc(80px + 2.5vw);
  position: relative;
}
.review-two .container .review__slider .slider__item .slider__information .information__name::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  width: calc(47px + 2.0833333333vw);
  height: calc(2px + 0.0833333333vw);
  background: #f38281;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.review-two .container .review__slider .slick-list {
  overflow: hidden;
}
.review-two .container .review__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.review-two .container .review__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 40px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.review-two .container .review__slider .slick-dots :not(:last-child) {
  padding: 0 20px 0 0;
}
.review-two .container .review__slider .slick-dots li {
  display: none;
}

@media (min-width: 1921px) {
  .review .container {
    max-width: 62.5%;
  }
}
@media (max-width: 767px) {
  .review .container {
    padding: 25px calc(15px + 0.0833333333vw);
  }
  .review .container .slick-prev {
    z-index: -1;
  }
  .review .container .slick-next {
    z-index: -1;
  }
  .review .container .review__slider .slider__item {
    margin: 0 0 60px 0;
  }
  .review .container .review__slider .slider__item .slider__box-image {
    display: none;
  }
  .review .container .review__slider .slider__item .slider__information {
    padding: calc(9px + 0.0833333333vw) 0;
  }
  .review .container .review__slider .slider__item .slider__information .information__text {
    margin: 0 0 35px 0;
  }
  .review .container .review__slider .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 40px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .review .container .review__slider .slick-dots :not(:last-child) {
    padding: 0 20px 0 0;
  }
  .review .container .review__slider .slick-dots li {
    display: block;
  }
  .review .container .review__slider .slick-dots li button {
    display: inline-block;
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #f8f8f8;
    border: 1px solid #c6cbcd;
  }
  .review .container .review__slider .slick-dots li button .slick-active {
    background: #c6cbcd;
  }
  .review .container .review__slider .slick-dots li.slick-active button {
    background: #c6cbcd;
  }
}