@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@700&family=Open+Sans&family=Raleway:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@700&family=Open+Sans&family=Raleway:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@700&family=Open+Sans&family=Raleway:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@700&family=Open+Sans:wght@600&family=Raleway:wght@400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-abjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a :visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  background: url(../img/header/fon.jpg);
}
.header .container {
  max-width: 1200px;
  padding: 15px;
  margin: 0 auto;
}
.header .container .header__top {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}
.header .container .header__top .logo img {
  max-width: 270px;
}
.header .container .header__top .navigation-panel {
  min-width: 50%;
  display: flex;
  align-items: center;
}
.header .container .header__top .navigation-panel ul {
  width: 80%;
  display: flex;
}
.header .container .header__top .navigation-panel ul li {
  width: 20%;
}
.header .container .header__top .navigation-panel ul li:hover {
  border-bottom: 1px solid #F4BF87;
}
.header .container .header__top .navigation-panel ul li a {
  display: inline-block;
  width: 100%;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header .container .header__top .navigation-panel ul li a:hover {
  color: #F4BF87;
}
.header .container .header__top .navigation-panel .header-top__icons {
  display: flex;
  width: 20%;
}
.header .container .header__top .navigation-panel .header-top__icons img {
  padding: 0 17px;
}
.header .container .header__main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header .container .header__main .pre-title {
  font-family: "Kaushan Script";
  font-size: 64px;
  line-height: 93px;
  text-align: center;
  color: #FFFFFF;
}
.header .container .header__main .first-title {
  position: relative;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 144px;
  line-height: 176px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 20px;
}
.header .container .header__main .first-title::after {
  content: "";
  position: absolute;
  width: 170px;
  height: 3px;
  bottom: 0;
  left: 50%;
  background: #ffffff;
  margin: 0 0 0 -85px;
}
.header .container .header__main .header__button {
  border: 1px solid #ffffff;
  max-width: 370px;
  width: 33%;
  margin: 75px 0px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: transparent;
}
.header .container .header__footer {
  margin: 41px 0px 0px 0px;
  display: flex;
  justify-content: space-around;
}
.header .container .header__footer .header__box-content {
  width: 22%;
  border-top: 3px solid #ffffff;
  padding: 21px 0;
}
.header .container .header__footer .header__box-content p {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #F9EFCF;
  position: relative;
}
.header .container .header__footer .header__box-content p span {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.devices .conteiner,
.titles-sections .conteiner {
  margin: 0 auto;
  max-width: 1200px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.devices .conteiner h3,
.titles-sections .conteiner h3 {
  font-family: "Kaushan Script";
  font-size: 30px;
  line-height: 44px;
  color: #2D3033;
  padding: 18px 0px;
}
.devices .conteiner h2,
.titles-sections .conteiner h2 {
  font-family: "Raleway";
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #2D3033;
  position: relative;
  padding: 18px 0 45px 0;
  text-transform: uppercase;
}
.devices .conteiner h2::after,
.titles-sections .conteiner h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 170px;
  height: 2px;
  background: rgb(243, 130, 129);
  margin: 0 0 0 -85px;
}
.devices .conteiner p,
.titles-sections .conteiner p {
  padding: 38px 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.main-about .container {
  max-width: 1200px;
  padding: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.main-about .container img {
  padding: 45px 0 0 0;
  display: inline-block;
  width: 32%;
}
.main-about .futures {
  margin: 95px 0px 15px 0px;
  background: #95E1D3;
}
.main-about .futures .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-about .futures .container .futers__element {
  width: 20%;
  padding: 65px 0px;
  border-right: 1px solid #ffffff;
}
.main-about .futures .container .futers__element:nth-child(1) {
  border-left: 1px solid #ffffff;
}
.main-about .futures .container .futers__element p {
  text-align: center;
  color: #FFFFFF;
  font-family: "Raleway";
}
.main-about .futures .container .futers__element p:nth-child(1) {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  padding: 0 0 14px 0;
}
.main-about .futures .container .futers__element p:nth-child(2) {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.services .container {
  margin: 0 auto;
  padding: 15px;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.services .container .services__element {
  width: 32%;
  display: flex;
  align-items: flex-start;
}
.services .container .services__element .element__icon {
  max-width: 70px;
  width: 25%;
  padding: 10px 10px 10px 0px;
}
.services .container .services__element .element__icon img {
  width: 100%;
}
.services .container .services__element .element__main h3 {
  padding: 15px 0px 30px 0px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #2D3033;
}
.services .container .services__element .element__main p {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #2D3033;
  margin: 0 0 70px 0;
}

.devices {
  background: url(../img/devises/bg2.svg) 0 0/100% auto no-repeat;
}

.main-service .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}
.main-service .container .service__image {
  width: 50%;
}
.main-service .container .service__image img {
  max-width: 570px;
  width: 100%;
}
.main-service .container .service__container {
  width: 50%;
}
.main-service .container .service__container .service__content {
  margin: 0 0 22px 0;
  width: 100%;
  padding: 0 0 0 15px;
}
.main-service .container .service__container .service__content input[type=checkbox] {
  display: none;
}
.main-service .container .service__container .service__content input[type=checkbox]:checked ~ label > img {
  transform: rotate(180deg);
}
.main-service .container .service__container .service__content input[type=checkbox]:checked ~ label > p {
  display: block;
}
.main-service .container .service__container .service__content input[type=checkbox]:checked ~ p {
  display: block;
}
.main-service .container .service__container .service__content > p {
  display: none;
}
.main-service .container .service__container .service__content label {
  display: flex;
  justify-content: space-between;
  border: 1px solid #C6CBCD;
  width: 100%;
}
.main-service .container .service__container .service__content label .headers {
  width: 100%;
  display: flex;
  align-items: center;
}
.main-service .container .service__container .service__content label .headers img {
  padding: 15px;
  max-width: 70px;
  width: 100%;
}
.main-service .container .service__container .service__content label .headers p {
  padding: 15px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #2D3033;
}
.main-service .container .service__container .service__content label > img {
  padding: 15px;
}
.main-service .container .service__container .service__content .test__content {
  padding: 15px;
  max-height: 200px;
  border: 1px solid #C6CBCD;
  border-top: none;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  color: #2D3033;
  overflow: auto;
}
.main-service .container .service__container .service__content .test__content::-webkit-scrollbar {
  width: 8px;
}
.main-service .container .service__container .service__content .test__content::-webkit-scrollbar-track {
  border: 1px solid f8e9e9;
  box-shadow: inset 0 0 3px 2px #d4d4d4;
}
.main-service .container .service__container .service__content .test__content::-webkit-scrollbar-thumb {
  background: #95E1D3;
  border-radius: 2px;
}

.team__content .container {
  max-width: 1200px;
  padding: 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.team__content .container .content__person {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.team__content .container .content__person .person__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32%;
}
.team__content .container .content__person .person__item .item__photo {
  width: 100%;
  max-width: 371px;
}
.team__content .container .content__person .person__item .item__name {
  padding: 26px 0;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #2D3033;
}
.team__content .container .content__person .person__item .item__job {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #2D3033;
}
.team__content .container .content__partners {
  padding: 180px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team__content .container .content__partners .partners__logo {
  max-width: 72px;
}

.our-work .container {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-work .container .our__workbox-element {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.our-work .container .our__workbox-element img {
  width: 100%;
}

.people-say .container {
  padding: 15px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
}
.people-say .container .people-say__element {
  padding: 25px 0;
  width: 50%;
  display: flex;
  align-items: flex-start;
}
.people-say .container .people-say__element .element__photo {
  width: 25%;
}
.people-say .container .people-say__element .element__photo img {
  width: 100%;
  max-width: 130px;
}
.people-say .container .people-say__element .element__info {
  width: 75%;
  padding: 0px 15px 0px 25px;
}
.people-say .container .people-say__element .element__info .info__name {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #2D3033;
}
.people-say .container .people-say__element .element__info .info__job {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #2D3033;
  position: relative;
  padding: 0 0 15px 0;
}
.people-say .container .people-say__element .element__info .info__job::after {
  content: "";
  width: 70px;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgb(243, 130, 129);
}
.people-say .container .people-say__element .element__info .info__short-description {
  margin: 32px 0px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  color: #2D3033;
}