.main-about {
    .container {
        max-width: 1200px;
        padding: 15px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        img {
            padding: 45px 0 0 0;
            display: inline-block;
            width: 32%;

        }
    }
    .futures {
        margin: 95px 0px 15px 0px;
        background: #95E1D3;
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0px 15px;
            display: flex;
            justify-content: center;
            align-items: center;


            .futers__element {
                width: 20%;
                padding: 65px 0px;
                border-right: 1px solid #ffffff;
                &:nth-child(1) {
                    border-left: 1px solid #ffffff;
                }
                p {
                    text-align: center;
                    color: #FFFFFF;
                    font-family: 'Raleway';
                    &:nth-child(1) {                   
                        font-weight: 700;
                        font-size: 64px;
                        line-height: 75px;  
                        padding: 0 0 14px 0;
                    }
                    &:nth-child(2) {
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 28px;
                    }
                }
                
            }
        }
        
    }
}

