.main-service {
    margin-top: calc(50px + 50 * (100vw / 1200));
    .container {
        margin: 0 auto;
        padding: calc(15px + 1 * (100vw / 1200));
        max-width: 1200px;
        .info-box {
            margin: calc(50px + 30 * (100vw / 1200)) 0 calc(30px + 20 * (100vw / 1200)) 0;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;

            .service__image {
                width: 48%;
                height: 20vw;
                min-height: 300px;
                display: inline-block;
                margin: calc(15px + 1 * (100vw / 1200)) 0;
                background: url(../img/service/1.jpg) center / 100% auto no-repeat;
            }

            .service__wrapper {
                width: 50%;
                min-width: 384px;
                margin: calc(15px + 1 * (100vw / 1200)) 0;
                .service__item {
                    padding: 0 0 calc(15px + 5 * (100vw / 1200)) 0;
                    .item__header {
                        display: flex;
                        justify-content: space-between;
                        border: 1px solid #C6CBCD;
                        .item__name {
                            display: flex;
                            align-items: center;
                            margin: 5px;
                            svg {
                                width: calc(35px + 7 * (100vw / 1200));
                                height: calc(35px + 7 * (100vw / 1200));
                                margin: calc(15px + 1 * (100vw / 1200));
                            }
                            .name {
                                font-family: 'Raleway';
                                font-weight: 700;
                                font-size: calc(14px + 10 * (100vw / 1200));
                                text-transform: uppercase;
                                color: #2D3033;
                                padding: 0 0 0 calc(15px + 2 * (100vw / 1200));
                            }
                        }
                        .item__arrow {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: calc(15px + 1 * (100vw / 1200));
                            width: calc(30px + 10 * (100vw / 1200));
                            .arrow__left {
                                width: calc(15px + 5 * (100vw / 1200));
                                height: calc(2px + 1 * (100vw / 1200));
                                border-top: calc(2px + 1 * (100vw / 1200)) solid #C6CBCD;
                                transform: rotate(-45deg);
                                transition: all 0.5s ease;
                                margin: 0 calc(-6px - 0.5 * (100vw / 1200)) 0 0 ;

                            }
                            .arrow__right { 
                                width: calc(15px + 5 * (100vw / 1200));
                                height: calc(2px + 1 * (100vw / 1200));
                                border-top: calc(2px + 1 * (100vw / 1200)) solid #C6CBCD;
                                transform: rotate(45deg);
                                transition: all 0.5s ease;
                                margin: 0 -6px 0 0 ;
                            }                            
                        }
                        .item__arrow-checked {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: calc(15px + 1 * (100vw / 1200));
                            width: calc(30px + 10 * (100vw / 1200));
                            .arrow__left {
                                width: calc(15px + 5 * (100vw / 1200));
                                height: calc(2px + 1 * (100vw / 1200));
                                border-top: calc(2px + 1 * (100vw / 1200)) solid #C6CBCD;
                                transform: rotate(45deg);
                                transition: all 0.5s ease;
                                margin: 0 calc(-6px - 0.5 * (100vw / 1200)) 0 0 ;

                            }
                            .arrow__right { 
                                width: calc(15px + 5 * (100vw / 1200));
                                height: calc(2px + 1 * (100vw / 1200));
                                border-top: calc(2px + 1 * (100vw / 1200)) solid #C6CBCD;
                                transform: rotate(-45deg);
                                transition: all 0.5s ease;
                                margin: 0 -6px 0 0 ;
                            }                            
                        }
                    }
                    .item__main {
                        display: none;
                        border: 1px solid #C6CBCD;
                        border-top: none;
                        .item__wrapper {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .item__text {
                                width: 100%;
                                max-height: calc(160px + 20 * (100vw / 1200));
                                margin: calc(20px + 2 * (100vw / 1200));
                                font-family: 'Raleway';
                                font-size: calc(14px + 4 * (100vw / 1200));
                                line-height: calc(16px + 5 * (100vw / 1200));
                                color: #000000;
                                overflow-x: hidden;
                                padding: 0 calc(20px + 2 * (100vw / 1200)) 0 0;
    
                                &::-webkit-scrollbar {
                                    width: calc(8px + 2 * (100vw / 1200));
                                    
                                }
                                &::-webkit-scrollbar-track {
                                    
                                    border: calc(1px + 1 * (100vw / 1200)) solid f8e9e9;
                                    box-shadow: inset 0 0 calc(3px + 1 * (100vw / 1200)) calc(2px + 1 * (100vw / 1200)) #d4d4d4;
                                }
                                &::-webkit-scrollbar-thumb {
                                    background: #95E1D3;
                                    border-radius: calc(2px + 1 * (100vw / 1200));
                                }
                            }
                        }
                        
                        
                    }
                    
                }
            }
            
        }
    }
}

@media (min-width: 1921px) {
    .main-service {

        .container{
            max-width: 62.5%;
        }
    }
}
@media (max-width: 767px) {

    .main-service {
        width: 100%;
        margin: 0;
        padding: 0;

        .container {
            padding: 15px;

            .info-box {
                margin: 0;
                flex-direction: column;
    
                .service__image {
                    width: 100%;
                }
    
                .service__wrapper {
                    width: 100%;
                    min-width: auto;
                    margin: calc(15px + 1 * (100vw / 1200)) 0;
                    .service__item {
                        padding: 0 0 calc(15px + 5 * (100vw / 1200)) 0;
                        .item__header {
                            display: flex;
                            justify-content: space-between;
                            border: 1px solid #C6CBCD;
                        }
                    }
                }
                
            }
        }
    }
}













